.login {
    display:flex;
    align-items: center;
    justify-content: center;
}

.login > div {

    background-color: #f1f1f1;
    margin:10px;
    padding: 20px;
    font-size: 20px
}

.sub {
    display: inline-block;
}